# Выключить обработку модулем mod_charset
<IfModule mod_charset.c>
    CharsetDisable On
</IfModule>

# Выставить кодировку по умолчанию стандартными средствами apache
AddDefaultCharset UTF-8

# Не показывать файлы в пустом каталоге
Options -Indexes

# Запрещаем запуск CGI-скриптов
Options -ExecCGI -Indexes

# По умолчанию запускать index.php-apache в папке
DirectoryIndex index.php

# Все запросы (кроме заданного списка исключений) вести через /index.php-apache
RewriteEngine on
RewriteBase /
RewriteCond $1 !^(index\.php|robots\.txt|favicon\.ico|lib/CKEditor/.*)
RewriteRule ^(.*)$ /index.php?q=$1 [L,QSA]

# Максимальный размер файла для загрузки - 100Мб
php_value upload_max_filesize 100M
php_value post_max_size 100M

# Максимальное количество полей на одной форме
php_value max_input_vars 10000